<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.udb.proyectodsm">

    <application
        android:allowBackup="true"
        android:icon='@drawable/dentalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dentalogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDSM">
        <activity android:name=".restablecer"></activity>
        <activity android:name=".CitasActivity"></activity>
        <activity android:name=".ClientesActivity"></activity>
        <activity android:name=".AddClientesActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".add_medicos" />
        <activity android:name=".AddCitasActivity" />
        <activity android:name=".MedicosActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ActivityInventario" />
        <activity android:name=".AgregarInventario" />
        <activity
            android:name=".ActivitySplash"
            android:label="Dental Clinic"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="LOGIN" />
    </application>

</manifest>
